{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <h1 style="color: orange">Sobre o projeto</h1>
            <p>Este projeto em Flask foi feito para a disciplina "Tópicos Especiais em Informática", lecionada na Fatec Ribeirão Preto no segundo semestre de 2022.</p>
            <p><strong>Tema escolhido:</strong> Fórum dos alunos da disciplina.</p>
            <p>O objetivo desta aplicação Web é criar um fórum onde os alunos matriculados na disciplina possam compartilhar suas dúvidas e conhecimentos.</p>
        </div>

        <div class="row mt-4">
            <h2 style="color: orange">Sobre o autor</h2>
            <div class="card-sobre p-3">
            <div class="d-flex align-items-center">
                <div class="image pe-2"> <img src="https://avatars.githubusercontent.com/u/62074890?s=400&u=36d72d7215f827fabfd099bc03a9b47a1db48f1d&v=4" class="rounded" width="200"></div>
                <div class="mx-3">
                    <h5 class="my-3"><strong>Nome:</strong> Silas Henrique Gonçalves Júnior</h5>
                    <h5 class="my-3"><strong>Contato:</strong> silas.henrique@gmail.com</h5>
                    <h5 class="my-3"><strong>RA:</strong> 2840482123020</h5>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}